<div class="template-container">
    <div class="table-view">
        <div class="table-child">
            <div class="inventory-option">
                <div class="inventory-add-option">
                    <h4>
                        Add products to store.
                    </h4>
                    <a href="./?mode=inventory&opt=add">
                        <button class="form-button">Add Product</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="table-child">
            <div class="inventory-option">
                <div class="inventory-edit-option">
                    <h4>
                        Edit products present in your store.
                    </h4>
                    <a href="./?mode=inventory&opt=edit">
                        <button class="form-button">Edit Product</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="table-child">
            <div class="inventory-option">
                <div class="inventory-remove-option">
                    <h4>
                        Remove products from store.
                    </h4>
                    <a href="./?mode=inventory&opt=del">
                        <button class="form-button">Remove Product</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>