<div class="container">
    <div class="page-header">
        <h1>About</h1>
    </div>
    <p>
        Knowledge or Wisdom not necessarily has to come from a formal course or a text book. There is a vast amount of wisdom spread across the world , be it lighting up the charcoal fire for a barbecue or getting your backhand right at tennis or learning nuances of playing the right chord on your guitar. We feel these little pearls of wisdom can have profound effect in our daily life and makes us wiser. WisdomTalkies is driven by this simple idea of sharing and preserving community wisdom, captured in form of videos and curating(collecting) them in a structured form. If you too believe in this idea. then be a part of the mission to preserve community wisdom and make the world a better place to live.  Sign-Up.
        <br/>
        The sources of knowledge are uncountable. What is accounted for in formal education and textbooks, and now even the internet, is but a fraction of what exists in the collective cognition of the world we inhabit. Bits of knowledge are dispersed all around us, be it the difference between a good sponge cake and one that is just the best, or getting the slant of the wrist just right for that perfect backhand stroke, or learning the nuances of playing the right chords on the guitar that sound just great. This collective wisdom resides in the minds of the millions that inhabit this world, and some of it is endangered to be lost forever as the world trundles on at a fast pace. That would indeed be sad.
        <br/>
        WisdomTalkies is a simple platform that lets you preserve your wisdom and make the world all the happier and smarter by sharing with it something it would never quite know otherwise. 
    </p>
</div>