<div id="bookmark" class="col-md-10 col-sm-12">
    <div id="listleft" class="col-md-2 col-sm-6 section-cover hidden-xs invisible">
        <div id="listcategories" class="row">
            <div id="cat-filter-container" class="col-md-12">
                <div class="FilterHead">
                    <strong>Result categories</strong>
                </div>
                <div class="catfilteritem" data-ng-repeat="filterCategory in catFilters" data-catfilter="{{filterCategory.catId}}">
                    <a class="maincat" data-toggle="collapse" data-parent="#listcategories" href="#">{{filterCategory.catName}}<span class="badge">{{filterCategory.vidCount}}</span></a>
                </div>
            </div>
        </div>
        <div id="listsource" class="row">
        </div>
        <div id="listfilter" class="row">
            <div class="gen-filter-container col-md-12 ">
                <div class="FilterHead">
                    <strong>Filter By</strong>
                </div>
                <div class="sub-filter">
                    <div class="filter-name">Language</div>
                    <div class="filter-tool">
                        <select id="language-select" data-langfilter="true">
                            <option value="0">Select language</option>
                            <option data-ng-repeat="language in langFilters" value="{{language.langId}}">{{language.langName}}</option>
                        </select>
                    </div>
                </div>
                <div class="sub-filter hide">
                    <div class="filter-name">Age</div>
                    <div class="filter-tool">
                        <div class="checkbox">
                            <label>
                                <input class="age-filter" type="checkbox" value="1">
                                Kids
                            </label>
                        </div>					
                        <div class="checkbox">
                            <label>
                                <input class="age-filter" type="checkbox" value="2">
                                Teens
                            </label>
                        </div>					
                        <div class="checkbox">
                            <label>
                                <input class="age-filter" type="checkbox" value="3">
                                Adults
                            </label>
                        </div>					
                        <div class="checkbox">
                            <label>
                                <input class="age-filter" type="checkbox" value="4">
                                All
                            </label>
                        </div>					
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="listcenter" class="col-md-10 col-sm-6">
        <div id="listContainer" class="list-group">
            <div class="container-fluid">
                <div class="row ng-cloak" data-ng-repeat="value in contentList.documents | orderObjectBy : 'modifieddate' : true">
                    <div class="col-md-12">
                        <div class="row list-item-row" data-ng-click="openContentInfo($event)" data-vidid="{{value.videoid}}" data-sourcevidid="{{value.sourcevideoid}}">
                            <div class="col-md-3 col-sm-12 tn_col">
                                <div class="row">
                                    <div class="col-md-12 text-center" >
                                        <img class="list_tn" onload="CheckImgErr(this);" data-ng-src="{{value.tnurl.replace('default','mqdefault')}}">
                                        <a class="play-icon" data-ng-href="view/{{urlParams}}&bookmarkId={{value.bookmarkid}}&videoId={{value.id}}&contentsrc=Youtube&sourcevidid={{value.videoid}}&ref=list"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9 col-sm-12 toggle-container">
                                <div class="row">
                                    <div class="col-md-12 list_title">
                                        <a data-ng-href="view/{{urlParams}}&bookmarkId={{value.bookmarkid}}&videoId={{value.id}}&contentsrc=Youtube&sourcevidid={{value.videoid}}&ref=list">{{value.title}}</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 content_credits">
                                        <small>
                                            <span>Last modified: {{value.modifieddate.split(' ')[0] | date:'MMM yyyy'}}</span>
                                            <span></span>
                                        </small>
                                    </div>
                                </div>
                                <div class="content-data content-toggle row">
                                    <div class="col-md-12 col-sm-12 content-topics">
                                        <div class="hidden-sm hidden-xs">
                                            <div class="text-left">
                                                Topics
                                            </div>
                                            <ol class="content-topic-list">
                                                <li data-ng-repeat="topic in value.bookmarkTopics">
                                                    <span>{{topic.start_time | secondsToDateTime | date:'HH:mm:ss'}}</span>
                                                    <span>{{topic.topic}}</span>
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav>
                <ul class="pager" data-ng-if="contentList.documents">
                    <li data-ng-class="{'disabled': searchStart == 0}"><a data-ng-if="searchStart > 0" href="bookmark/all&start={{searchStart-10}}">Previous</a></li>
                    <li data-ng-if="contentList.numFound - searchStart > 10"><a href="bookmark/all&start={{searchStart+10}}">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>