<div id="list" class="section col-md-7 col-sm-12">
    <div id="listcenter"  class="col-md-12 col-sm-12">
        <div id="listContainer" class="list-group">
            <div class="container-fluid" style="max-height:80vh; overflow:auto;">
                <div class="row ng-cloak" data-ng-repeat="(key, content) in contentList.documents" data-ng-if="$index < (searchRows + listLimitStart) && $index >= listLimitStart">
                    <div class="col-md-12">
                        <div class="row list-item-row" data-sourcevidid="{{content.videoid}}">
                            <div class="col-md-3 col-sm-12 tn_col">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <img class="list_tn" onload="CheckImgErr(this);" data-ng-src="{{content.tnurl.replace('default','mqdefault')}}">
                                        <span class="play-icon" data-ng-click="watchVideoCurate($event)" data-videoid="{{content.videoid}}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9 col-sm-12 toggle-container">
                                <div class="row">
                                    <div class="col-md-12 list_title" data-ng-click="watchVideoCurate($event)" data-videoid="{{content.videoid}}">
                                        {{content.string}}
                                    </div>
                                </div>
                                <div class="content-data content-toggle row">
                                    <div class="col-sm-12 col-md-12 content-desccription">
                                        <p>{{content.description}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-12 text-center toggle-button">
                                <div class="media-toggle-link watch pull-left" data-videoid="{{content.videoid}}" data-ng-click="watchVideoCurate($event)">
                                    Watch
                                </div>
                                <div class="media-toggle-link curate" style="float:none;">
                                    <a href='curate/{{urlParams}}&videoId={{content.videoid}}/?page=list&request=curate'>Curate</a>
                                </div>
                                <div class="media-toggle-link saveToCurationList pull-right" data-videoid="{{content.videoid}}" data-ng-click="saveVideoToCuration($event)">
                                    Save
                                </div>
                            </div>
                            <div class="col-md-9 col-sm-12 text-right pull-right" style="padding-top:2px">
                                <span title="Views Count" style="margin-right:10px">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                    &nbsp;{{content.ytViews | number}}&nbsp;
                                </span>
                                <span>
                                    <span title="Likes Count" style="margin-right:10px" class="text-success">
                                        <span class="glyphicon glyphicon-thumbs-up"></span>
                                        &nbsp;{{content.ytLikes | number}}&nbsp;
                                    </span>
                                    <span title="Dislikes Count" class="text-danger">
                                        <span class="glyphicon glyphicon-thumbs-down"></span>
                                        &nbsp;{{content.ytDislikes | number}}
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="view" class="col-md-5 col-sm-12">
    <div class="row">
        <div id="viewcenter"  class="col-md-12 col-sm-12">
            <div class="row">
                <div id="contentplayer1" class="embed-responsive embed-responsive-16by9">
                    <youtube-video video-id="playerVideoId" player="vidPlayerObject" id="ytplayerdiv"></youtube-video>
                </div>
            </div>
        </div>
    </div>
</div>
