<input type="text" style="display:none">
<input type="password" style="display:none">
<div class="col-md-6 col-md-offset-3" id="profileItemsContainer">
    <div class="close-profile" data-ng-click="closeProfile()" data-toggle="tooltip" data-placement="bottom" data-title="Close profile">
        <span class="glyphicon glyphicon-remove-circle"></span>
    </div>
    <div class="profileItem form-horizontal" data-label="My Profile" id="profileInformation">
        <table id="generalInfoUpdate">
            <tbody>
                <tr>
                    <td>
                        <div class="form-group">
                            <label class="control-label col-md-4">Email</label>
                            <div class="col-md-8">
                                <input type="text" name="email" disabled class="hidden form-control" value="{{profileData.emailid}}">
                                <div class="profile-email display-entry">{{profileData.emailid}}</div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label class="control-label col-md-4">First Name</label>
                            <div class="col-md-8">
                                <input id="sign-in-firstname" type="text" class="hidden form-control" name="first_name" placeholder="First name" >
                                <div class="profile-firstName display-entry">{{profileData.firstName}}</div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label class="control-label col-md-4">Last Name</label>
                            <div class="col-md-8">
                                <input id="sign-in-lastname" type="text" class="hidden form-control" name="last_name" placeholder="Last name" >
                                <div class="profile-lastName display-entry">{{profileData.lastName}}</div>
                            </div>
                        </div>
                    </td>
                </tr>
<!--
                <tr>
                    <td>
                        <div class="form-group">
                            <label class="control-label col-md-4">Age</label>
                            <div class="col-md-8">
                                <input id="sign-in-age" type="text" name="age" class="hidden form-control" placeholder="Age">
                                <div class="profile-age display-entry">{{profileData.age}}</div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label class="control-label col-md-4">Phone</label>
                            <div class="col-md-8">
                                <input id="sign-in-phone" type="text" name="phone" class="hidden form-control" placeholder="Phone" >
                                <div class="profile-phone display-entry">{{profileData.phone}}</div>
                            </div>
                        </div>
                    </td>
                </tr>
-->
                <tr>
                    <td>
                        <div class="form-group">
                            <label class="control-label col-md-4">Country</label>
                            <div class="col-md-8">
                                <select id="sign-in-location" type="text" name="location" class="hidden form-control" placeholder="Country" data-ng-options="country as country.name for country in countriesJson track by country.name" data-ng-model="locationCountry">
                                </select>
                                <div class="profile-location display-entry">{{profileData.location}}</div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="profileUpdateMessageBox"></div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="hidden" id="passwordUpdateForm">
            <tr>
                <td>
                    <div class="form-group">
                        <label class="control-label col-md-4">Current password</label>
                        <div class="col-md-8">
                            <input id="current-password" autocomplete="off" type="password" class="form-control" placeholder="Type your current password" >
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <label class="control-label col-md-4">New password</label>
                        <div class="col-md-8">
                            <input id="new-password" autocomplete="off" type="password" class="form-control" placeholder="Enter new password" >
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <label class="control-label col-md-4">Retype password</label>
                        <div class="col-md-8">
                            <input id="confirm-password" autocomplete="off" type="password" class="form-control" placeholder="Re-enter new password" >
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="profileUpdateMessageBox"></div>
                </td>
            </tr>
        </table>
        <div class='form-group text-center'>
            <button class="btn btn-warning editOption" id="editProfileInfo" data-ng-click="editProfileInformation()">Edit Profile</button>
            <button class="btn btn-warning editOption" id="changePassword" data-ng-hide="loginType == 'GOOGLE'" data-ng-click="changePasswordInformation()">Change Password</button>
            <button class="btn btn-success hidden actionButton" id="saveProfileInfo" data-ng-click="saveProfileInformation()">Save</button>
            <button class="btn btn-default hidden actionButton" id="cancelEditProfileInfo" data-ng-click="cancelEditProfileInformation()">Cancel</button>
        </div>
    </div>
</div>