<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-4">
							 <a href="#" class="btn btn-link btn-xs" type="button">Button</a>
                            <ul>
                                <li>
                                    <a href="#">
                                        Lorem ipsum dolor sit amet
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Lorem ipsum dolor sit amet
                                    </a>
                                </li>
                            </ul>
						</div>
						<div class="col-md-4">
							 <a href="#" class="btn btn-link btn-xs" type="button">Button</a>
                            <ul>
                                <li>
                                    <a href="#">
                                        Lorem ipsum dolor sit amet
                                    </a>
                                </li>
                            </ul>
						</div>
						<div class="col-md-4">
							 <a href="#" class="btn btn-xs btn-link" type="button">Button</a>
                            <ul>
                                <li>
                                    <a href="#">
                                        Lorem ipsum dolor sit amet
                                    </a>
                                </li>
                            </ul>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<ul>
						<li>
							<a href="#">
                                Lorem ipsum dolor sit amet
                            </a>
						</li>
						<li>
							<a href="#">
                                Lorem ipsum dolor sit amet
                            </a>
						</li>
						<li>
							<a href="#">
                                Lorem ipsum dolor sit amet
                            </a>
						</li>
						<li>
							<a href="#">
                                Lorem ipsum dolor sit amet
                            </a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>