<div class="container-fluid">
	<div class="row">
        <div class="col-md-12">
            <h3>
                Quick Topics
            </h3>
        </div>
		<div class="col-md-12">
			<ul class="nav nav-stacked quick-topics">
				<li>
					<a href="#">Php arrays</a>
				</li>
				<li>
					<a href="#">Css Animations</a>
				</li>
				<li>
					<a href="#">Css position rule</a>
				</li>
				<li>
					<a href="#">Php arrays</a>
				</li>
				<li>
					<a href="#">Css Animations</a>
				</li>
				<li>
					<a href="#">Css position rule</a>
				</li>
				<li>
					<a href="#">Php arrays</a>
				</li>
				<li>
					<a href="#">Css Animations</a>
				</li>
				<li>
					<a href="#">Css position rule</a>
				</li>
				<li>
					<a href="#">Php arrays</a>
				</li>
				<li>
					<a href="#">Css Animations</a>
				</li>
				<li>
					<a href="#">Css position rule</a>
				</li>
			</ul>
		</div>
	</div>
</div>