<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-4">
                            <a href="./?tutorials=html">
                                <div class="thumbnail">
                                    <img class="img-responsive" alt="Bootstrap Thumbnail Second" src="img/sample_html.png">
                                    <div class="caption">
                                        <h3>
                                            HTML
                                        </h3>
                                        <p>
                                            Designing a HTML page and its components.
                                        </p>
                                    </div>
                                </div>
                            </a>
						</div>
<!--
						<div class="col-md-4">
                            <a href="./?course=css">
                                <div class="thumbnail">
                                    <img alt="Bootstrap Thumbnail Third" src="img/sample.jpg">
                                    <div class="caption">
                                        <h3>
                                            CSS
                                        </h3>
                                        <p>
                                            Learn stylesheet rules and latest design flow.
                                        </p>
                                    </div>
                                </div>
                            </a>
						</div>
-->
						<div class="col-md-4">
                            <a href="./?tutorials=php">
                                <div class="thumbnail">
                                    <img class="img-responsive" alt="Bootstrap Thumbnail First" src="img/sample_php.png">
                                    <div class="caption">
                                        <h3>
                                            php
                                        </h3>
                                        <p>
                                            Learn php starting from basics to advanced.
                                        </p>
                                    </div>
                                </div>
                            </a>
						</div>
					</div>
<!--
					<div class="row">
						<div class="col-md-4">
                            <a href="./?course=js">
                                <div class="thumbnail">
                                    <img alt="Bootstrap Thumbnail First" src="img/sample.jpg">
                                    <div class="caption">
                                        <h3>
                                            Javascript
                                        </h3>
                                        <p>
                                            Basics of Client side scripting with javascript methods.
                                        </p>
                                    </div>
                                </div>
                            </a>
						</div>
						<div class="col-md-4">
                            <a href="./?course=jquery">
                                <div class="thumbnail">
                                    <img alt="Bootstrap Thumbnail Second" src="img/sample.jpg">
                                    <div class="caption">
                                        <h3>
                                            jQuery
                                        </h3>
                                        <p>
                                            Javascript library to simplify use of javascript methods.
                                        </p>
                                    </div>
                                </div>
                            </a>
						</div>
						<div class="col-md-4">
                            <a href="./?course=bs">
                                <div class="thumbnail">
                                    <img alt="Bootstrap Thumbnail Third" src="img/sample.jpg">
                                    <div class="caption">
                                        <h3>
                                            Bootstrap
                                        </h3>
                                        <p>
                                            Mobile first responsive framework to enable support on different resolutions.
                                        </p>
                                    </div>
                                </div>
                            </a>
						</div>
					</div>
-->
				</div>
			</div>
		</div>
	</div>
</div>